@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/ubuntu-400.woff2") format("woff2");
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/static/fonts/ubuntu-500.woff2") format("woff2");
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/static/fonts/ubuntu-700.woff2") format("woff2");
}

:root {
    --font: "Ubuntu", sans-serif;

    --background: #080808;
    --surface: #0f0f0f;
    --border: #f2f2f2;
    --text: #f2f2f2;
    --text-muted: #a3a3a3;
    --accent: #4c45d3;

    --text-small: 0.75rem;
    --text-normal: 1rem;
    --text-big: 1.5rem;
    --text-title: 2.5rem;
}

/* disabling all scrollbars */
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
